*.src.rpm
*.swp
*~
/results_uwsgi
/uwsgi-1.0.4.tar.gz
/uwsgi-1.2.3.tar.gz
/uwsgi-wiki-doc-v41.txt
/uwsgi-1.2.4.tar.gz
/uwsgi-wiki-doc-v43.txt
/uwsgi-1.2.6.tar.gz
/uwsgi-1.4.5.tar.gz
/uwsgi-1.9.8.tar.gz
/1.9.17.tar.gz
/uwsgi-doc-1.9.17.tar.gz
/uwsgi-1.9.17.tar.gz
/uwsgi-docs-b86b3f7.tar.gz
/uwsgi-1.9.18.2.tar.gz
/uwsgi-docs-71f2d78.tar.gz
/uwsgi-1.9.19.tar.gz
/uwsgi-docs-119b215.tar.gz
/uwsgi-2.0.6.tar.gz
/uwsgi-docs-d2c4969.tar.gz
/uwsgi-2.0.7.tar.gz
/uwsgi-docs-f551708.tar.gz
